.Stage {
    width: 100%;
    height: 40%;
    position: relative;
}

.huihui {
    width: 200px;
    z-index: 10000;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 100px);
    /*动画名称*/
    animation-name: huihui;
    /*设置秒数*/
    animation-duration: 5s;
    /*速度曲线*/
    animation-timing-function: linear;
    /*播放次数*/
    animation-iteration-count: infinite;
    /*播放状态*/
    animation-play-state: running;
    transform-origin: center bottom;
}

@keyframes huihui {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    20% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(0deg);
    }
    55% {
        transform: rotate(0deg);
    }
    59% {
        transform: translateY(-20px);
    }
    63% {
        transform: translateY(0px);
    }
    67% {
        transform: translateY(-20px);
    }
    71% {
        transform: translateY(0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.shadow {
    width: 192px;
    z-index: 9999;
    position: absolute;
    top: calc(50% + 84px);
    left: calc(50% - 96px);
}
